version: '3.8'
services:
  web:
    container_name: liff-nextjs
    image: liff-nextjs
    build:
      context: .
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_APP_URL: ${NEXT_PUBLIC_APP_URL}
        MONGODB_URI: ${MONGODB_URI}
        DB_NAME: ${DB_NAME}
        NEXT_PUBLIC_LIFF_ID: ${NEXT_PUBLIC_LIFF_ID}
        LIFF_URL: ${LIFF_URL}
        LINE_SECRET: ${LINE_SECRET}
        LINE_ACCESS_TOKEN: ${LINE_ACCESS_TOKEN}
        NEXT_PUBLIC_BASE_API_URL: ${NEXT_PUBLIC_BASE_API_URL}
        NEXT_PUBLIC_BASE_API_KEY: ${NEXT_PUBLIC_BASE_API_KEY}
        EXTERNAL_API_URL: ${EXTERNAL_API_URL}
        EXTERNAL_API_KEY: ${EXTERNAL_API_KEY}
        NEXT_PUBLIC_BASE_REGISTER_URL: ${NEXT_PUBLIC_BASE_REGISTER_URL}
        NEXT_PUBLIC_LINE_AT: ${NEXT_PUBLIC_LINE_AT}
        NEXT_PUBLIC_AFF_URL: ${NEXT_PUBLIC_AFF_URL}
        NEXT_PUBLIC_ADMIN_AFF_URL: ${NEXT_PUBLIC_ADMIN_AFF_URL}
    ports:
      - '3000:3000'
    restart: always
    env_file:
      - .env
